extends layouts/main

block content
    .form-container
        form(action=routes.editVideo(videoEditInfo.id), method="post")
            input(type="text", placeholder="Title", name="title", value=videoEditInfo.title)
            textarea(name="description", placeholder="Description")=videoEditInfo.description
            input(type="submit", value="Update Video")
        a.form-container__link.form-container__link--delete(href=`${routes.deleteVideo(videoEditInfo.id)}`) Delete Video